name: my_weather_app_v2
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  # Your requested dependencies
  http: ^1.2.1
  provider: ^6.1.2
  lottie: ^3.1.0
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  # Uncomment this section if you add actual .json files for Lottie
  # assets:
  #   - assets/animations/